<div id='overlaytut'>


<div class="container">

	<button class="close" onclick='closehelp();'>close</button>

</div>




    <div class='row'>
        <div class="col-md-10 col-md-offset-1">
            
            <img src='img/help.png' class='helpicon'>
        
            <h1>Help</h1>
         </div>
    </div>


    <div class='row'>
        <div class="col-md-4 col-md-offset-4">
            
           
        
          
         </div>
    </div>



</div><!-- overlay -->