<% var stylesheet = "admin" %>
<% var title = "Admin" %>
<% include header %>



<div class="col-sm-4 col-md-3 sidebar2">
              
              <h3>Activity</h3>
                      
                  <h6>This section is to show you how well all your digital efforts are doing</h6>
              
                   <a class='newstuff' href='/new' data-container="body" data-animation="true" data-trigger="hover" data-toggle="popover" data-selector="true" data-placement="right" data-content="Add new products, blog posts, images, pages and more"><img class='navimg' src='img/add.png'>Send Email</a>
                   
                   <h5>Fan Lists</h5>

                  <ul class='smlst'>
                    <li>All Fans</li>
                  </ul>
                  
          </div>   


<div id='mainarea' class="col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-4 main">
          <h1 class="page-header">Fans</h1>
       


<form>
          <div class='form_section'>
    <label>Title</label>
    <input class='post_title' name='title' />
  </div>



  <div class='form_section'>
    <label>Body</label>
    <textarea class='post_body post_body_form' name='body'></textarea>
  </div>
  <div class='form_section'>
    <input class='button' type='submit' value='Publish' />
  </div>
</form>

   
        
        </div>



<% include footer %>
