<% var stylesheet = "admin" %>
<% var title = "Admin" %>
<% include header %>



<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="googlebot" content="index,follow">

    <!-- Title -->
    <title>RedTape X Templates</title>

    <!-- bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Templates core CSS -->
    <link href="stylesheets/docs.css" rel="stylesheet">
    <link href="stylesheets/application.css" rel="stylesheet">
    <link href="stylesheets/doc-sidebar.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="images/favicon/favicon.png" rel="shortcut icon">
    <link href="images/favicon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="images/favicon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/favicon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizr Scripts -->
    <script src="javascript/vendor/modernizr-2.7.1.min.js"></script>

    <!-- typography -->
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>

<style>
body {
padding-top: 0px !important;
}
</style>

  </head>
  <body class="docs" id="to-top">
    
      <div class="navbar navbar-inverse navbar-static-top past-carousel" id="docs top" role="navigation">
      <div class="container">
        <div class="navbar-header bs-docs-nav">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand past-carousel" href="/">
            <svg version="1.1" id="xlogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="88.172px" height="86.021px" viewBox="0 0 88.172 86.021" enable-background="new 0 0 88.172 86.021" xml:space="preserve">
            <g>
              <polygon id="xlogo2a" opacity="0.84" fill="#ffffff" points="48.111,28.731 45.342,32.702 42.588,28.731 28.423,28.731 38.219,42.055 
                28.116,55.731 35.411,55.731 55.322,28.731   "/>
              <polygon id="xlogo1a" fill="#ffffff" points="45.238,51.36 48.273,55.731 62.42,55.731 52.383,42.014 62.164,28.731 55.322,28.731 
                35.411,55.731 42.187,55.731   "/>
              <path id="xlogo1b" fill="#ffffff" d="M67.596,10.871l-4.734,6.68c7.779,5.582,12.861,14.692,12.861,24.975c0,16.942-13.783,30.725-30.726,30.725
                c-6.565,0-12.651-2.075-17.648-5.596l-4.735,6.68c6.337,4.473,14.055,7.111,22.384,7.111c21.46,0,38.919-17.461,38.919-38.92
                C83.916,29.489,77.467,17.937,67.596,10.871z"/>
              <path id="xlogo2b" opacity="0.84" fill="#ffffff" d="M14.271,42.526c0-16.942,13.784-30.726,30.726-30.726c6.659,0,12.826,2.136,17.864,5.75
                l4.734-6.68C61.22,6.305,53.42,3.606,44.997,3.606c-21.46,0-38.919,17.46-38.919,38.919c0,13.132,6.544,24.757,16.536,31.809
                l4.735-6.68C19.448,62.089,14.271,52.904,14.271,42.526z"/>
            </g>
            </svg>          
        </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="/">Tour</a></li>
            <li><a href="#">FAQ</a></li>
             <li><a href="/blog">Blog</a></li>
            <li><a href="http://www.redtapex.com/signup/newuser">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>



<style>.sidebar{display:none;}</style>

<div class="col-sm-4 col-md-3 sidebar2" style='display:none;'>
              
              <h3>Settings</h3>
                      
                  <h6>Administer your account and customize your portal. Account settings</h6>
              
                  <h5>Area Settings</h5>

                  <ul class='smlst'>
                      <li class='settings-general' onclick='settingsToggle("general");'><a>General</a></li>
                      <li class='settings-web' onclick='settingsToggle("web");'><a>Web</a></li>
                      <li class='settings-shop' onclick='settingsToggle("shop");'><a>Shop</a></li>
                      <li class='settings-social' onclick='settingsToggle("social");'><a>Social</a></li>
                      <li class='settings-promo' onclick='settingsToggle("promo");'><a>Promo</a></li>

                  </ul>
                  
          </div>   

<style>
h3.clf {
margin-top:20px;
}

.checkarea{
    border: 1px solid #ccc;
    padding-bottom: 20px;
}


label:after{
    clear:both;
    display:block;
}
label{
    width: 42%;
    display: inline-block;
  
}

input[type="checkbox"]:before {
clear:both
}
input[type="checkbox"] {
border: 1px solid #ccc;
display: inline-block;
width: 5%;
}

#terms{
margin-top:30px;
}
#terms label {
width: 100%;
}
h1.page-header {
text-align: center;
}
</style>
<div id='mainarea' class="col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-4 main">
          <h1 class="page-header">Get Started, create a new account</h1>
          







<form method='post' action='../onboardUsr'>
          <div class='row'>
          <br>
          </div>



          <div class='row arablok'>
                
                <div class='col-md-1 col-md-offset-1'>
                    <div class="bullet"><div class="num">1</div></div>
                </div>
               

                
                <input type='hidden' name='affiliate' value='<%= affiliate %>'>
        


                <div class='col-md-7 col-md-offset-1'>
                    <h3 class='name'>Artist</h3>


                    
         

                   
                    <input type='hidden' name='nbsid' id='nbsid'>
                    <input type='text' placeholder='Artist Name' name='artist' id='search-artists' autocomplete="off" >
                        
                    <small>We're going to look online and pull up additional information on this artist</small>

                    <div class='artistsresults row' data-container="body" data-animation="true" data-trigger="hover" data-toggle="popover" data-selector="true" data-placement="right" data-content="Please click your artist name if it appears in this list">
                    </div>
                  

                    
                    
                    <h3 class="clf">Genre</h3>
                    <select name="genre">
                        <option value="pop">Pop</option>
                        <option value="rnb">R&B/Soul</option>
                        <option value="rap">Rap</option>
                        <option value="reggae">Reggae</option>
                        <option value="edm">EDM</option>
                        <option value="hiphop">Hip Hop</option>
                        <option value="dj">DJ</option>
                        <option value="singer">Singer</option>
                        <option value="alternative">Alternative</option>
                        <option value="dance">Dance</option>    
                        <option value="rock">Rock</option>    
                    </select>                                          


                    <h3 class='clf'>Twitter Handle</h3>
                    <input type='text' placeholder='@artistname' name='twitterhandle'>

                    <h3 class='clf'>Facebook Handle</h3>
                    <input type='text' placeholder='@artistname' name='facebook'>

                    



</div></div>
 <div class='row arablok'>
                
                <div class='col-md-1 col-md-offset-1'>
                    <div class="bullet"><div class="num">2</div></div>
                </div>
               
<div class='col-md-7 col-md-offset-1'>                    


                    <h3 class='clf'>Email Address</h3>
                    <input type='text' placeholder='Email Address' id='emailadd' name='email'>
                    

                    <h3 class='clf'>Password for account</h3>
                    <input type='password' placeholder='Password' name='password'>
                    

                    <h3 class='clr'>I'm gearing up to</h3>
                    <input type='checkbox' name='stage'><label>Launching a Website</label> 
                   <input type='checkbox' name='stage'><label>Releasing a video</label> 
                   <input type='checkbox' name='stage'><label>Releasing a single</label> 
                   <input type='checkbox' name='stage'><label>Dropping a mixtape</label> 
                   <input type='checkbox' name='stage'><label>Releasing an EP</label>     
                   <input type='checkbox' name='stage'><label>Releasing an Album</label>     
  
                        
                   
                    <div id='terms'>
                            <label class="checkbox" data-skip-autosize="true">
                                <input name="terms" type="hidden" value="0"><input data-validation="accepted" id="artist_agreed_to_tc_and_official" type="checkbox" value="1" />
                              I agree to the RedTapeX.com <a href="/terms_and_conditions" target="_blank">Terms &amp; Conditions</a> and am an official representative of the artist(s) I am signing up.
                            </label>
                  </div>



                </div>

                <div class='col-md-1'>
                    <img class='success' src='img/success.png'>
                </div>



       


               
            </div>






            <!--
            <div class='row arablok'>
                <div class='col-md-1 col-md-offset-1'>
                    <div class="bullet"><div class="num">2</div></div>
                </div>

                <div class='col-md-7'>
                    <h3 class='name'>Web</h3>
                    Connect your website or Launch a beautiful website here.
                    
                    <input type='text' placeholder='www.yoursite.com' id='websiteurl' onBlur='checkurl();'>

                   <div class="checkbox">
                    <label>
                      <input type="checkbox"> Already have a website for this domain
                    </label>
                  </div>

                </div>


                 <div class='col-md-1'>
                    <img class='successb' src='img/success.png'>
                </div>



               

            </div>








            -->




  <!--

            <div class='row arablok'>
                <div class='col-md-1 col-md-offset-1'>
                    <div class="bullet"><div class="num">2</div></div>
                </div>

                <div class='col-md-7'>
                    <h3 class='name'>What are you working on</h3>
                    Now let's understand what you're working on or have in the queue so we can best help out.

                    <div class='row innerarea'>
                    
                    <h3>
                        <div>I'm a </div><select class='content_area' name='genre'><option>Select Genre</option><option>Hip Hop / Rap</option></select><div> artist.</div>
                        <div>I'm gearing up to </div><select class='content_area' name='stage'><option>Select life cycle</option><option>Launching a website</option><option>Releasing a video</option></select><div></div>
                    </h3>

                    </div>

                </div>

              

            </div>




          
            <div class='row arablok'>
                <div class='col-md-1 col-md-offset-1'>
                    <div class="bullet"><div class="num">4</div></div>
                </div>

                <div class='col-md-8'>
                    <h3 class='name'>Social Accounts</h3>
                    Connect your social accounts


                    <div id="buttons">
                        <div class="facebook buttonx">
                          <i class="icon">
                            <i class="icon-facebook">
                          </i>
                        </i>
                        <div class="slide">
                          <p>
                            facebook
                          </p>
                        </div>
                        
                        </div>

                        <div class="twitter buttonx">
                          <i class="icon">
                            <i class="icon-twitter">
                          </i>
                        </i>
                        <div class="slide">
                          <p>
                            twitter
                          </p>
                        </div>
                        
                        </div>

                        <div class="google buttonx">
                          <i class="icon">
                            <i class="icon-facetime-video">
                          </i>
                        </i>
                        <div class="slide">
                          <p>
                            youtube
                          </p>
                        </div>
                        
                        </div>


                        <div class="linkedin buttonx">
                          <i class="icon">
                            <i class="icon-camera-retro">
                          </i>
                        </i>
                        <div class="slide">
                          <p>
                            instagram
                          </p>
                        </div>
                        
                        </div>
                      </div>

                </div>

                <div class='col-md-2 skipbtn'>
                    <a class='button'>Skip this</a>
                </div>

            </div>
            -->



<input type='submit' class='button blkbtn' value='Launch'>

</form>

</div>


<% include footer %>
