<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="googlebot" content="index,follow">

    <!-- Title -->
    <title>RedTape X Platform - Blog - Tools for Music Promotions and Music Video Promotions</title>


    <!-- bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Templates core CSS -->
    <link href="stylesheets/docs.css" rel="stylesheet">
    <link href="stylesheets/application.css" rel="stylesheet">
    <link href="stylesheets/doc-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/blog.css" href="">
    <!-- Favicons -->
    <link href="images/favicon/favicon.png" rel="shortcut icon">
    <link href="images/favicon/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
    <link href="images/favicon/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/favicon/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="114x114">
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Modernizr Scripts -->
    <script src="javascript/vendor/modernizr-2.7.1.min.js"></script>

    <!-- typography -->
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>

  </head>
  <body class="docs" id="to-top">
    
      <div class="navbar navbar-inverse navbar-static-top past-carousel" id="docs top" role="navigation">
      <div class="container">
        <div class="navbar-header bs-docs-nav">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand past-carousel" href="/">
            <svg version="1.1" id="xlogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="88.172px" height="86.021px" viewBox="0 0 88.172 86.021" enable-background="new 0 0 88.172 86.021" xml:space="preserve">
            <g>
              <polygon id="xlogo2a" opacity="0.84" fill="#ffffff" points="48.111,28.731 45.342,32.702 42.588,28.731 28.423,28.731 38.219,42.055 
                28.116,55.731 35.411,55.731 55.322,28.731   "/>
              <polygon id="xlogo1a" fill="#ffffff" points="45.238,51.36 48.273,55.731 62.42,55.731 52.383,42.014 62.164,28.731 55.322,28.731 
                35.411,55.731 42.187,55.731   "/>
              <path id="xlogo1b" fill="#ffffff" d="M67.596,10.871l-4.734,6.68c7.779,5.582,12.861,14.692,12.861,24.975c0,16.942-13.783,30.725-30.726,30.725
                c-6.565,0-12.651-2.075-17.648-5.596l-4.735,6.68c6.337,4.473,14.055,7.111,22.384,7.111c21.46,0,38.919-17.461,38.919-38.92
                C83.916,29.489,77.467,17.937,67.596,10.871z"/>
              <path id="xlogo2b" opacity="0.84" fill="#ffffff" d="M14.271,42.526c0-16.942,13.784-30.726,30.726-30.726c6.659,0,12.826,2.136,17.864,5.75
                l4.734-6.68C61.22,6.305,53.42,3.606,44.997,3.606c-21.46,0-38.919,17.46-38.919,38.919c0,13.132,6.544,24.757,16.536,31.809
                l4.735-6.68C19.448,62.089,14.271,52.904,14.271,42.526z"/>
            </g>
            </svg>          
        </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="/">Tour</a></li>
            <li><a href="#">FAQ</a></li>
             <li><a href="/blog">Blog</a></li>
            <li><a href="http://www.redtapex.com/signup/newuser">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
      
   
    <div class="container blog-container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 x-post">
          <div class="col-md-12 meta-wrapper">
            <div class="blog-title col-md-12 no-padding">
              <h4>If an artist creates music, but no one hears it, does it really exist?</h4>
            </div>
            
            <!--
            <div class="blog-meta col-md-3 no-padding">
                <h4>May 21st, 2014</h4>
            </div>
            -->
          
          </div>  
          <div class="blog-post">
            <div class="blog-image">
                <img class="img-rounded img-responsive center-block" src="http://photos-d.ak.instagram.com/hphotos-ak-prn/10254326_1414400505498347_1592573830_n.jpg">
            </div>
            
            <p>
            RedTapeX is a new tool dedicated to the artist, their music and the fans, designed to take the headache out of promoting digital music. With so much to take advantage of, where does an artist begin? We're helping define that blueprint. We help get your content to its intended target audience, and function as a command center for managing your entire presence online. Have a new single coming out? A new video about to release or is dying down and needs a promotional boost to keep momentum going? Trying to put together a tour and need to find out what cities your fans are at? RedTapeX is here to help you with all of that!
            </p>
                <p>
                RedTape has been helping music industry professionals creatively and digitally for over a decade. Our team is made up of creatives, musicians and data scientists who have been in the digital music space for years. We have worked closely with some of the biggest names in the music industry, ranging from independent and major artists, top tiered recording studios and digital music platforms.
                </p>
                <p>
                Whether you are a DIY band that tours cross country in an old van or you are a major artist touring the world, RedTapeX has the tools to help you efficiently promote your content at a touch of a button.
                </p>

                <br>
                <p>
                Michael Tanzer, President and Co-Founder
                <br>
                RedTape Design
                <br>
                New York, NY
                </p>

            
          </div>
        </div>
      </div>
    
    </div>
    <!-- Footer -->
    <footer id="doc-footer" class="footer-section" role="contentinfo">

      <div class="container">

        <div class="row">

          <div class="col-md-4 col-footer">
            
            <!-- Footer 1 -->
           

            <!-- AddThis Button -->
            <ul class="addthis_toolbox addthis_default_style">

              <li><a class="addthis_button_facebook_like"></a></li>
              <li><a class="addthis_button_tweet"></a></li>

            </ul> <!-- /.addthis_toolbox -->
            <script>var addthis_config = {"data_track_addressbar":true};</script>
            <script src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-533f6ac03b59c72a"></script>

          </div> <!-- /.col-md-4 -->

          <div class="col-md-4 col-footer col-padding">
            
            <!-- Footer 1 -->
            <section class="text-center">
              <p>Be sure to read <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.</p>
            </section>

            <!-- Social media links -->
            <ul class="social-media-links">

              <li><a class="fa fa-twitter tw" href="https://twitter.com/redtapeX" target="_blank"></a></li>
              <li><a class="fa fa-facebook fb" href="https://www.facebook.com/pages/RedTape-X/226114524250580" target="_blank"></a></li>
              <li><a class="fa fa-instagram ig" href="http://instagram.com/redtapex/" target="_blank"></a></li>
              
            </ul> <!-- /.social-media-links -->

          </div> <!-- /.col-md-4 -->

          <div class="col-md-4 col-footer">
            
            <!-- Footer 1 -->
            <section>
              <p><strong>RedTape Productions, Inc</strong> <br>One Grand Central Place, Suite 1730 <br>New York, NY 10165.</p>
            </section>

          </div> <!-- /.col-md-4 -->
          
        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </footer> <!-- /.footer-section -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascript/vendor/jquery-2.1.0.min.js"></script>
    <script src="javascript/bootstrap.min.js"></script>
    <script src="javascript/assets/application.js"></script>
    <script src="javascript/assets/affix.js"></script>
    <script src="javascript/assets/docs.min.js"></script>
  </body>
</html>