 <footer class="footer">
    <span class="footer__copyright">&copy; 2014 RedTapeDesign. All rights reserved.</span>
    <span class="footer__copyright"><a href="http://redtapex.parseapp.com" title="Artist webistes. Turnt Up.">Artist Webistes. Turnt Up</a> by <a href="http://redtapex.parseapp.com" title="link to website for RedTape X">RedTape X</a></span>
    <span class="footer__copyright">Powered by<a href="http://redtapedesign.com" title="link to RedTapeDesign"> RedTapeDesign.com</a></span>
</footer>
        </div>
    </div>


    <script src="/looks/032514redtapex/js/jquery.js"></script>


    <script type="text/javascript" src="/looks/032514redtapex/js/script.js"></script>
    <script type="text/javascript" src="/looks/032514redtapex/js/timeago.js"></script>

</body>
</html>
