<% include header %>
<div class="content-wrapper">
        <div class="content-wrapper__inner">


  <div class="main-post-list">

    <ol class="post-list">
      <!--post article loop-->
      <li>
        <h2 class="post-list__post-title post-title"><a href="/"><%= data.title %></a></h2>
        <abbr class="timeago" title="<%- data.createdAt %>"></abbr>
        <p class="excerpt"><%- data.body %></p>

        <hr class="post-list__divider" />
      </li>

    </ol>
</div>
<% include footer %>
