<style>
.main_content span {
display: block;
height: 50px;
color: #000;
font-size: 12px;
}
.simpleCart_checkout {
display: block;
background: blue;
font-size: 32px;
color: #fff;
}
</style>

  <script src="js/jquery-1.7.2.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
  
    <script src="js/prettify.js"></script>
    <script src="js/wysihtml5-0.3.0.min.js"></script>
    <script src="js/bs3wys.js"></script>
     <script src="js/simpleCart.js"></script>


    <script>
        simpleCart({
        checkout: {
          type: "PayPal",
          email: "fuccyo@cms.com"
        }
      });



  </body>
</html>
