<li class='mix'>
  <div class='insight red'>
       <b>It's been a long time!</b> <br>
        Your traffic is falling off by 12% because you don't have new content on your site.

        <br><br>It's been 15 days since your last post.
        <div class='ago'>1d</div>
    </div>
</li>