<!-- welcome video -->
    <li class='mix'>
        <div class='insight greybox'>
           Now its time to turn up on <b><%= thissite.get('sitename') %></b>'s account 

            <iframe width="100%" height="300" src="//www.youtube.com/embed/MmZexg8sxyk" frameborder="0" allowfullscreen></iframe>
     

            <div class='ago'>1h</div>

             


        </div>

    </li>
