<!-- welcome video -->
    <li class='mix'>
        <div class='insight greybox'>
          <%= stat.get('headline') %>

          <pre>
       
          <%= JSON.stringify(stat.get('data')) %>

          </pre>

            <div class='ago'>1h</div>

             


        </div>

    </li>
