<li class='mix'>

        <div class="bs-example">
            <h4><b>Just Ivy - "Bad Girl...</b> Video recap</h4>


            <div class='row'>
                <div class='col-md-7'>
           
  
                <a class="embedly-card" data-card-chrome="0" href="https://www.youtube.com/watch?v=L96LB6Kxmt4">Just Ivy - "Bad Girl Takeover" Event & Live Performance (Trailer)</a>
                
                </div>
                
                <div class='col-md-1'>
                    <div class='glyphicon glyphicon-arrow-right attrib'></div>
                </div>

                <div class='col-md-4'>

                    <div class='row'>

                        <div class='col-md-12'>
                        
                        The following things happened
                        
                        </div>

                        <div class='col-md-6'>
                            <h2><%= stat.get('views_count') %></h2>
                            <small>views</small>
                        </div>

                        <div class='col-md-6'>
                            <h2><%= stat.get('tweets_count') %></h2>
                            <small>tweets</small>
                        </div>

                    </div>


                     <div class='row'>
                        <div class='col-md-6'>
                            <h2><%= stat.get('facebooks_count') %></h2>
                            <small>facebook interactions</small>
                        </div>

                        <div class='col-md-6'>
                            <h2><%= stat.get('clicks_to_site') %></h2>
                            <small>clicks to your site</small>
                        </div>


                    </div>



                    <div class='row'>
                        <div class='col-md-6'>
                            <h2>2</h2>
                            <small>video embeds</small>
                        </div>

                        <div class='col-md-6'>
                            <h2>2</h2>
                            <small>comments</small>
                        </div>


                    </div>




                </div>

            </div>

           

        </div>


        <div class="highlight">
            <!--<button type="button" class="btn btn-default btn-newbtn">Promote</button>-->
            <button type="button" class="btn btn-default btn-noborder"><span class="glyphicon glyphicon-star"></span> Save</button>
            <button type="button" class="btn btn-default btn-noborder" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-share-alt"></span> Share</button>
        </div>

    </li>