<li class='mix'>
<div class='insight purp'>
        Your <b>Name of Promotion</b> Update

        <div class='pink innersq'>
        Your promotion campaign led to
        </div>
        
        <div class='blk_insight'>
            <h2>14,021</h2>
            Views
        </div>

        <div class='ago'>5s</div>
    </div>
</li>