<!doctype html>
<html>
    <head>
	    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="looks/30514redtapex/css/bootstrap.css">
		<link href="looks/30514redtapex/webfonts/ss-social-circle.css" rel="stylesheet">
		<!--
			Alternative google fonts instead of fonts.css, use to take advantage of google cdn
			<link href='http://fonts.googleapis.com/css?family=Montserrat|Open+Sans:200,300,400,600,700' rel='stylesheet' type='text/css'/>
		-->
		<link rel="stylesheet" href="looks/30514redtapex/css/style.css">
	    <title>REDTAPE X</title>
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- 
	alternative google cdn jquery 
	
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
<script>window.jQuery || document.write("<script src='js/jquery-1.10.2.min.js'><\/script>")</script> 
-->

<script type="text/javascript" src="looks/30514redtapex/js/bootstrap.js"></script>
<script type="text/javascript" src="https://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
	</head>
<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=586414271439425";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	
	
        	
