<% include header %>
<div class="jumbotron">

  
                      

  <div class="container">
  			<div class="center-block">
                      

	  			<div class="logo">
	  				<img src="looks/30514redtapex/images/xlogoc.png"/>
	  			</div>
			
		   	</div>
	</div>
</div><!-- end jumbo -->
<div class="container-fluid">
  <div class="row invite">
    <p>WE ARE CHANGING THE WAY MUSICIANS USE THE WEB. REQUEST AN INVITE BELOW.</p>
    <div class="invite-form">
    	 <form id="contactForm"> 
              
              <p class="input">
              <input type="email" name="email" id="email" required placeholder="Enter your email address">
              </p>    
              
              <p class="submit">

              <input type="submit" value="REQUEST INVITE">

              </p>


              <span id="success" class="text-success">thank you for signing up!</span>
              <span id="error" class="text-warning">you weren't sign up!</span>

            </form>
    </div>

    <div class='col-md-4 col-md-offset-4 followus'>
            <a href="https://twitter.com/redtapedesign" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @redtapedesign</a>
                            <div class="fb-like" data-href="https://www.facebook.com/RedTapeDesign" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>

  </div>
  <div class="row proof">
	<div class="container" style="padding-top:30px;">
		<div class="tweets">
			<h2>What people are saying</h2>
			<div class="col-md-2"></div>
			<div class="col-md-4"><blockquote class="twitter-tweet" lang="en"><p>4real!! &quot;<a href="https://twitter.com/AnntasticLV">@anntasticLV</a>: <a href="https://twitter.com/RedTapeDesign">@RedTapeDesign</a> <a href="https://twitter.com/aliciakeys">@aliciakeys</a> Thanks to the guys at RED TAPE who worked 24/7 on this thru Holidays to make this happen!&quot;</p>&mdash; Alicia Keys (@aliciakeys) <a href="https://twitter.com/aliciakeys/statuses/406605761179951104">November 30, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
		    <div class="col-md-4"><blockquote class="twitter-tweet" height="258px; background:#fff;" lang="en"><p>Wow <a href="https://twitter.com/RedTapeDesign">@RedTapeDesign</a> is about to help launch something amazing. Very cool and congrats.</p>&mdash; Arthur Pitt (@ArthurPitt) <a href="https://twitter.com/ArthurPitt/statuses/397888476424994816">November 6, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
			<div class="col-md-2"></div>
		</div>
    </div>
  </div>
  <div class="row proof">
  	<div class="container">
	    <div class="tweets">
	    	<div class="col-md-2"></div>
		    <div class="col-md-4"><blockquote class="twitter-tweet" lang="en"><p>Shout to <a href="https://twitter.com/RedTapeDesign">@RedTapeDesign</a> for keeping <a href="http://t.co/MTd5LbG216">http://t.co/MTd5LbG216</a> looking super dope.</p>&mdash; GrafhOnline.com (@Grafh) <a href="https://twitter.com/Grafh/statuses/411220065342590976">December 12, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
		    <div class="col-md-4"><blockquote class="twitter-tweet" lang="en"><p>Honestly <a href="https://twitter.com/RedTapeDesign">@RedTapeDesign</a> is the illest. <a href="https://twitter.com/search?q=%23thatisall&amp;src=hash">#thatisall</a></p>&mdash; Pittsburgh Slim (@PittsburghSlim) <a href="https://twitter.com/PittsburghSlim/statuses/355387902517190658">July 11, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
			<div class="col-md-2"></div>
	    </div>
    </div>
  </div>
 
  <div class="row proof sociallane">
  <div class="container text-center">
  		<a href="https://www.facebook.com/redtapedesign" target="_blank" onClick="_gaq.push(['_trackEvent', 'Social', 'click', 'facebook']);"><i class="ss-icon">facebook</i></a>
            <a href="https://twitter.com/redtapedesign" target="_blank" onClick="_gaq.push(['_trackEvent', 'Social', 'click', 'twitter']);"><i class="ss-icon">twitter</i></a>
            <a href="http://instagram.com/redtapedesign" target="_blank" onClick="_gaq.push(['_trackEvent', 'Social', 'click', 'instagram']);"><i class="ss-icon">instagram</i></a>
  </div>
</div>
</div><!-- end container-fliud -->	



<% include footer %>