<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= typeof title === "undefined" ? "RedtapeX" : title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="//fuccyocms.parseapp.com/js/jquery.flexslider.js"></script>

<script src="//fuccyocms.parseapp.com/js/underscore.min.js"></script>

<script src="//fuccyocms.parseapp.com/js/shop.js"></script>

<link href="//fuccyocms.parseapp.com/css/shop.css" rel="stylesheet" type="text/css"  media="all"  />
  

<link href="//cdn.shopify.com/s/files/1/0371/0477/t/3/assets/shop.css?739" rel="stylesheet" type="text/css"  media="all"  />
  
<link href="//fonts.googleapis.com/css?family=BenchNine:300,400,700|Open+Sans:400,300" rel="stylesheet" type="text/css"  media="all"  />
  </head>
  <body id="shop">





<div class="heading">
     

<div class="row gray-full">
  <div class="wrapper"> 
 
    <header id="header" class="row">
      <div class="span12 clearfix">
        <div class="logo">
          
          <a href="/"><img src="//cdn.shopify.com/s/files/1/0371/0477/t/3/assets/logo.png?739" alt="timebombtest" /></a>
          
        </div> <!-- /.logo -->

          <!--nav-->
            <section id="nav">
            
              <nav class="main">
              <ul class="horizontal unstyled clearfix">
  
  
  <li>
    <a href="/" class=" current"><span>Home</span></a>
    
    
  </li>
  
  
  
  <li>
    <a href="/collections/all" class=""><span>Shop</span></a>
    
    
  </li>
  
  
  
  <li class="dropdown"><a href="/" class=" current"><span>Brands</span></a>
    <ul class="dropdown">
      
      <li><a href="/collections/test">mishka</a></li>
      
      <li><a href="/collections/frontpage">dope</a></li>
      
    </ul>
  </li>
  
  
  
  <li>
    <a href="/pages/about-us" class=""><span>Our History</span></a>
    
    
  </li>
  
  
  
  <li>
    <a href="http://blog.timebombshop.com" class=""><span>Blog</span></a>
    
    
  </li>
  
  
  
  
  <li class="show-when-fixed" id="cart-link">
    <a href="/cart">Your cart (1)</a>
  </li>
</ul>
              </nav> <!-- /.main -->
              <nav class="mobile clearfix">
  <select name="main_navigation" id="main_navigation" class="fl">
    <option value="/" selected="selected">Home</option>
    
    <option value="/">Home</option>
    
    
    <option value="/collections/all">Shop</option>
    
    
    <option value="/">Brands</option>
    
    <option value="/collections/test">- mishka</option>
    
    <option value="/collections/frontpage">- dope</option>
    
    
    <option value="/pages/about-us">Our History</option>
    
    
    <option value="http://blog.timebombshop.com">Blog</option>
    
    
    <option value="/cart">Your cart (1)</option>
  </select>
  <ul class="horizontal unstyled clearfix fr">
    
  </ul>
</nav> <!-- /.mobile -->
          
          </section> <!-- /.row -->

        
      </div> <!-- /.span12 -->

    </header> <!-- /#header.row -->
  </div><!--gray-full-->
</div>



<% include bag %>

